body{
  background-color: #1D1F21;
  font: sans-serif;
}

span{
  color: white;
  margin: 0px;
  cursor: pointer;
}

span:hover{
  color: #00ccff;
}

i{
  color: white;
  margin: 0px;
}

i:hover{
  color: #00ccff;
}

h1{
  color:black;
  text-align: center;
  cursor: pointer;
}

h3{
  color: white;
}

.container{
  padding-top: 50px;
}

.song_box{
  text-align: center;
  background-color: black;
  color:white;
}

.jumbotron{
  background-image: url("../apicko/img/header.png");
  object-fit: cover;
}

.col-md{
  text-align: center;
}

.col-md-6{
  text-align: center;
}

.setCenter{
  position: relative;
}

#display{
  margin-bottom: 123px;
}
.footer{
  border-top: 1px solid white;
  height: 125px;
  width:100%;
  background: rgba(128, 128, 128, 0.7);
  position: fixed;
  bottom: 0;
}

.img-responsive {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border: 2px black solid;
    background-color: white;
}

.songName{
   font-weight: bold;
}

.songAuthor{
  font-style: italic;
}

.progress{
  height: 1px;
}

.progress-bar{
  color: #00ccff;
}

input[class$="sliderPos"] {
      overflow: hidden;
      width: 45%;
      height: 7px;
      -webkit-appearance: none;
      background-color: #dddddd;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    input[class$="sliderPos"]::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }

    input[class$="sliderPos"]::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: #00ccff;
      box-shadow: -400px 0 0 400px #00ccff;
    }


input[class$="sliderVol"] {
      overflow: hidden;
      width: 10%;
      height: 7px;
      -webkit-appearance: none;
      background-color: #dddddd;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    input[class$="sliderVol"]::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }

    input[class$="sliderVol"]::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #00ccff;
      box-shadow: -200px 0 0 200px #00ccff;
    }


.authorDescription{
  font-size: 12px;
  padding-left: 5px;
  margin: 0;
  font-style: italic;
}

.alert{
  z-index: -1;
  margin: 0;
}

li{
  width:90%;
  padding: 1%;
  color:white;
}

li:hover{
  background-color:rgba(0, 204, 255,0.2);
}

.fontface{
  width: 10px;
}
.dropdown{
  float: right;
}
.btn-secondary{
  text-align: center;
  vertical-align:middle;
  padding: 0px;
  height: 25px;
  width: 25px;
  position: relative;
  float: right;
  background: none;
  border: none;
}

.btn-secondary:hover{
  background: none;
  border: none;
  box-shadow: none;
  font-size: 10px;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus{
  box-shadow: none;
}
.btn-secondary.focus, .btn-secondary:focus{
  box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
  background: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.fa-angle-double-left{
  font-size: 20px;
  font-weight: bold;
}
.fa-angle-double-right{
  font-size: 20px;
  font-weight: bold;
}
.fa-search{
  margin: none;
  cursor: pointer;
}
.fa-search:hover{
  color: #00ccff;
}
.fa.col-lg-1{
  text-align: center;
}
.form-control{
  margin-right: 10px;
  border-radius: 0px;
}
.dropdown-item:hover{
  color: white;
  background: #1d1f21e6;
}
.playlistClass{
  padding-left: 35%;
}
.sidenav a:hover{
  color: #00ccff;
}
.col-lg-4{
  text-align: center;
  font-size: 25px;
}
.img-responsive{
  border: none;
  width: 300px;
  height: 300px;
  transition: 1s;
}
.bandLogo:hover{
  opacity: .5;
}
.songClass{
  padding-right: 15px;
}
.ui-menu {
        list-style:none;
        padding: 10px;
        margin: 0;
        display:block;
        width:227px;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 200px;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}
div{
  color: black;
}
.ui-autocomplete {
  position:absolute;
  cursor:pointer;
  background: white;
  color: black;
  z-index:1001 !important
}
#whisp{
  margin-top: 5px;
  padding-left: 7px;
  width: 250px;
  height: 40px;
  font-size: 20px;
}
.nav{
  height: 70px;
}
.fa-search{
  font-size: 30px;
}
.fa-search:hover{
  color: #00ccff;
}
.ui-helper-hidden-accessible{
  display:none;
  z-index: -100;
}
.nav{
  opacity: .1;
}
